<div class="sheet">


	<div class="sheet-head">
		<div class="sheet-title">LISTE DES DEPENSES</div>
	</div>
		
	<div class="sheet-body">
		<md-slider-container>
			<button type="button" class="bouton" ng-click="operationsListCtrl.prevDay()">&lt</button>
			<md-slider md-discrete ng-model="operationsListCtrl.selectDayIndex" step="1" min="0" max="{{operationsListCtrl.travelLength}}"></md-slider>
			<button type="button" class="bouton" ng-click="operationsListCtrl.nextDay()">&gt</button>
		</md-slider-container>
	</div>
	
	<table class="tbk-table">
		<thead>
			<tr><th colspan="5"><span>Opérations pour </span><span>{{ operationsListCtrl.selectedDay.libelle }} : </span></th></tr>
		</thead>
		<tbody>
			<tr ng-repeat="x in operationsListCtrl.selectedDay.operations" ng-click="operationsListCtrl.selectOperation(x)" ng-class="{selectionnable: true, selected: x == operationsListCtrl.selectedOperation, retrait: isRetrait}" ng-init="isRetrait = (x.type == 'retrait')">
				<td>{{ x.date | date }}</td>
				<td ng-if="!isRetrait">{{ x.accountDebit.typeLibelle }} en {{x.accountDebit.deviseLibelle}}</td>
				<td ng-if="!isRetrait">{{ x.categorie.libelle }}</td>
				<td ng-if="!isRetrait">{{ x.description }}</td>
				<td ng-if="!isRetrait">{{ x.montantDebit | currency:x.accountDebit.devise.sym}}</td>
				<td ng-if="isRetrait">{{ x.accountDebit.typeLibelle }} en {{x.accountDebit.deviseLibelle}}</td>
				<td ng-if="isRetrait">{{ x.montantDebit | currency:x.accountDebit.devise.sym}}</td>
				<td ng-if="isRetrait">{{ x.accountCredit.typeLibelle }} en {{x.accountCredit.deviseLibelle}}</td>
				<td ng-if="isRetrait">{{ x.montantCredit | currency:x.accountCredit.devise.sym}}</td>
			</tr>
		</tbody>
	</table>
	<span ng-if="operationsListCtrl.selectedDay.operations.length == 0">Il n'y a pas d'opération pour ce jour</span>
	
	<div class="actions" ng-show="operationsListCtrl.shownAction == 'action'">
		<button type="button" class="bouton" ng-click="operationsListCtrl.openAddDepense()">Ajouter une dépense</button>
		<button type="button" class="bouton" ng-click="operationsListCtrl.openAddRetrait()">Ajouter un retrait / change</button>
		<button type="button" class="bouton" ng-disabled="!operationsListCtrl.selectedOperation" ng-click="operationsListCtrl.openModification()">Modifier l'opération</button>
		<button type="button" class="bouton" ng-disabled="!operationsListCtrl.selectedOperation" ng-click="operationsListCtrl.shownAction = 'delete'">Supprimer</button>
	</div>
	
<!-- CREATION D'UNE DEPENSE -->	
	<div ng-show="operationsListCtrl.shownAction == 'addDepense'" class="modal-window">
		
		<div class="sheet-head">
			<div class="sheet-title">Ajouter une dépense</div>
		</div>
		
		<form novalidate name="addForm">
			<div layout='row' layout-fill layout-margin layout-align='start'>
				<md-input-container>
					<label>Date :</label>
					<md-datepicker ng-disabled="operationsListCtrl.selectedDay.isFixDate" ng-model="operationsListCtrl.addedOperation.date" ng-require></md-datepicker>
				</md-input-container>
				<md-input-container>
					<label>Compte débité :</label>
					<md-select ng-model="operationsListCtrl.addedOperation.accountDebit" ng-require>
						<md-option ng-value="c" ng-repeat="c in operationsListCtrl.accounts">{{ c.typeLibelle }} en {{c.deviseLibelle}}</md-option>
					</md-select>
				</md-input-container>
				<md-input-container>
					<label>Catégorie :</label>
					<md-select ng-model="operationsListCtrl.addedOperation.categorie" ng-require>
						<md-option ng-value="c" ng-repeat="c in operationsListCtrl.categories">{{ c.libelle }}</md-option>
					</md-select>
				</md-input-container>
			</div>
			<div layout='row' layout-fill layout-margin layout-align='start'>
					<md-input-container>
						<label>Description :</label>
						<input ng-model="operationsListCtrl.addedOperation.description" ng-require>
				</md-input-container>
				<md-input-container>
						<label>Montant ({{operationsListCtrl.addedOperation.accountDebit.devise.code}}) :</label>
						<input ng-model="operationsListCtrl.addedOperation.montantDebit" type="number" ng-require>
				</md-input-container>
			</div>
			<div class="actions">
				<input type="button" value="Ajouter" class="bouton" ng-click="operationsListCtrl.addOperation()" ng-disabled="!addForm.$valid"/>
				<button type="button" class="bouton" ng-click="operationsListCtrl.shownAction = 'action'">Annuler</button>
			</div>
		</form>
	</div>
	
<!-- MODIFICATION D'UNE DEPENSE -->
	<div ng-show="operationsListCtrl.shownAction == 'updDepense'" class="modal-window">
		
		<div class="sheet-head">
			<div class="sheet-title">Modifier une dépense</div>
		</div>
		
		<form novalidate name="addForm">
			<div layout='row' layout-fill layout-margin layout-align='start'>
				<md-input-container>
					<label>Date :</label>
					<md-datepicker ng-disabled="true" ng-model="operationsListCtrl.selectedOperation.date" ng-require></md-datepicker>
				</md-input-container>
				<md-input-container>
					<label>Compte débité :</label>
					<md-select ng-disabled="true" ng-model="operationsListCtrl.selectedOperation.accountDebit" ng-require>
						<md-option ng-value="c" ng-repeat="c in operationsListCtrl.accounts">{{ c.typeLibelle }} en {{c.deviseLibelle}}</md-option>
					</md-select>
				</md-input-container>
				<md-input-container>
					<label>Catégorie :</label>
					<md-select ng-model="operationsListCtrl.selectedOperation.categorie" ng-require>
						<md-option ng-value="c" ng-repeat="c in operationsListCtrl.categories">{{ c.libelle }}</md-option>
					</md-select>
				</md-input-container>
			</div>
			<div layout='row' layout-fill layout-margin layout-align='start'>
					<md-input-container>
						<label>Description :</label>
						<input ng-model="operationsListCtrl.selectedOperation.description" ng-require>
				</md-input-container>
				<md-input-container>
						<label>Montant ({{operationsListCtrl.selectedOperation.accountDebit.devise.code}}) :</label>
						<input ng-model="operationsListCtrl.selectedOperation.montantDebit" type="number" ng-require>
				</md-input-container>
			</div>
			<div class="actions">
				<input type="button" value="Modifier" class="bouton" ng-click="operationsListCtrl.updOperation()" ng-disabled="!addForm.$valid"/>
				<button type="button" class="bouton" ng-click="operationsListCtrl.shownAction = 'action'">Annuler</button>
			</div>
		</form>
	</div>
	
	<div ng-show="operationsListCtrl.shownAction == 'addRetrait'" class="modal-window">
		
		<div class="sheet-head">
			<div class="sheet-title">Ajouter un retrait ou une opération de change</div>
		</div>
		
		<form novalidate name="addForm">
			<div layout='row' layout-fill layout-margin layout-align='start'>
				<md-input-container>
					<label>Date :</label>
					<md-datepicker ng-disabled="operationsListCtrl.selectedDay.isFixDate" ng-model="operationsListCtrl.addedOperation.date" ng-require></md-datepicker>
				</md-input-container>
				<md-input-container>
					<label>Compte débité :</label>
					<md-select ng-model="operationsListCtrl.addedOperation.accountDebit" ng-require>
						<md-option ng-value="c" ng-repeat="c in operationsListCtrl.accounts">{{ c.typeLibelle }} en {{c.deviseLibelle}}</md-option>
					</md-select>
				</md-input-container>
				<md-input-container>
					<label>Montant Débit({{operationsListCtrl.addedOperation.accountDebit.devise.code}}) :</label>
					<input ng-model="operationsListCtrl.addedOperation.montantDebit" type="number" ng-require>
				</md-input-container>
			</div>
			<div layout='row' layout-fill layout-margin layout-align='start'>
				<md-input-container>
					<label>Compte crédité :</label>
					<md-select ng-model="operationsListCtrl.addedOperation.accountCredit" ng-require>
						<md-option ng-value="c" ng-repeat="c in operationsListCtrl.accounts">{{ c.typeLibelle }} en {{c.deviseLibelle}}</md-option>
					</md-select>
				</md-input-container>
				<md-input-container>
					<label>Montant Crédit({{operationsListCtrl.addedOperation.accountCredit.devise.code}}) :</label>
					<input ng-model="operationsListCtrl.addedOperation.montantCredit" type="number" ng-require>
				</md-input-container>
			</div>
			<div class="actions">
				<input type="button" value="Ajouter" class="bouton" ng-click="operationsListCtrl.addOperation()" ng-disabled="!addForm.$valid"/>
				<button type="button" class="bouton" ng-click="operationsListCtrl.shownAction = 'action'">Annuler</button>
			</div>
		</form>
	</div>

	<div ng-show="operationsListCtrl.shownAction == 'delete'" class="modal-window">
		
		<div class="sheet-head">
			<div class="sheet-title">Supprimer une operation</div>
		</div>
			<span>Confirmer la suppression de l'operation.<span>
			<div class="actions">
				<input type="button" value="Supprimer" class="bouton" ng-click="operationsListCtrl.deleteOperation()" />
				<button type="button" class="bouton" ng-click="operationsListCtrl.shownAction = 'action'">Annuler</button>
			</div>
		</form>
	</div>

</div>
