<div class="sheet-row">
	<div class="col full sheet-container">
		<tbk-bilan 
			travel="budgetCtrl.travel" 
			bilans="budgetCtrl.bilans"
			changes="budgetCtrl.changes"
			on-devise-add="budgetCtrl.addDevise(devise)"
			on-devise-delete="budgetCtrl.deleteDevise(devise)">
		</tbk-bilan>
	</div>
</div>

<div class="sheet-row">
	<div class="col full sheet-container">
		<tbk-operations-list 
			travel="budgetCtrl.travel"
			select-day-index="budgetCtrl.selectDayIndex"
			on-operation-add="budgetCtrl.addOperation(operation)"
			on-operation-delete="budgetCtrl.deleteOperation(id)"
			on-operation-update="budgetCtrl.updateOperation(operation)">
		</tbk-operations-list>
	</div>
</div>

<div class="sheet-row">
	<tbk-budget-statistics
		travel="budgetCtrl.travel"
		changes="budgetCtrl.changes"
		account-ready="budgetCtrl.accountReady"
		on-select-day="budgetCtrl.setSelectedDay(id)">
	</tbk-budget-statistics>
</div>