<div class="sheet-row">
	<div class="col full sheet-container">
		<tbk-accounts-list 
			travel="budgetCtrl.travel"
			accounts="budgetCtrl.accounts" 
			on-account-add="budgetCtrl.addAccount(account)"
			on-account-delete="budgetCtrl.deleteAccount(id)"
			on-account-update="budgetCtrl.updateAccount(account)"
		</tbk-accounts-list>
	</div>
</div>

<div class="sheet-row">
	<div class="col full sheet-container">
		<tbk-operations-list 
			travel="budgetCtrl.travel"
			accounts="budgetCtrl.accounts"
			select-day-index="budgetCtrl.selectDayIndex"
			on-operation-add="budgetCtrl.addOperation(operation)"
			on-operation-delete="budgetCtrl.deleteOperation(id)"
		</tbk-operations-list>
	</div>
</div>

<div class="sheet-row">
	<tbk-budget-statistics
		travel="budgetCtrl.travel"
		changes="budgetCtrl.changes"
		account-ready="budgetCtrl.accountReady"
		on-select-day="budgetCtrl.setSelectedDay(id)"
	</tbk-budget-statistics>
</div>