<div class="sheet">


	<div class="sheet-head">
		<div class="sheet-title">LISTE DES DEVISES DU VOYAGE</div>
	</div>
	
	
	<div class="sheet-body">
		<table class="tbk-table">
			<thead>
				<tr><th>Code</th><th>Symbole</th></tr>
			</thead>
			<tbody>
				<tr ng-repeat="x in devisesListCtrl.devises" ng-click="devisesListCtrl.selectDevise(x)" ng-class="{selectionnable: true, selected: x == devisesListCtrl.selectDevise}">
					<td>{{ x.code }}</td>
					<td>{{ x.sym }}</td>
				</tr>
			</tbody>
		</table>
		
		<div class="actions" ng-show="devisesListCtrl.shownAction == 'action'">
			<button type="button" class="bouton" ng-click="devisesListCtrl.openAddDevise()">Ajouter</button>
			<button type="button" class="bouton" ng-disabled="!devisesListCtrl.selectedDevise" ng-click="devisesListCtrl.shownAction = 'delete'">Supprimer</button>
		</div>
		
		<div ng-show="devisesListCtrl.shownAction == 'add'" class="modal-window">
			
			<div class="sheet-head">
				<div class="sheet-title">Ajouter une devise</div>
			</div>
			
			<form novalidate name="addForm">
				<div layout='row' layout-fill layout-margin layout-align='start'>
					<md-input-container>
						<label>Code :</label>
						<input ng-model="devisesListCtrl.addedDevise.code" ng-require >
					</md-input-container>
					<md-input-container>
						<label>Symbole :</label>
						<input ng-model="devisesListCtrl.addedDevise.sym">
					</md-input-container>
				</div>	
				<div class="actions">
					<input type="button" value="Ajouter" class="bouton" ng-click="devisesListCtrl.addDevise()" ng-disabled="!addForm.$valid"/>
					<button type="button" class="bouton" ng-click="devisesListCtrl.shownAction = 'action'">Annuler</button>
				</div>
			</form>
		</div>

		<div ng-show="devisesListCtrl.shownAction == 'delete'" class="modal-window">
			
			<div class="sheet-head">
				<div class="sheet-title">Supprimer une devise</div>
			</div>
				<span>Confirmer la suppression du compte.<span>
				<div class="actions">
					<input type="button" value="Supprimer" class="bouton" ng-click="devisesListCtrl.deleteDevise()" />
					<button type="button" class="bouton" ng-click="devisesListCtrl.shownAction = 'action'">Annuler</button>
				</div>
			</form>
		</div>
		
</div>
