
<div class="modal-window">
			
	<div class="sheet-head">
		<div class="sheet-title">Se connecter</div>
	</div>
	
	<form novalidate name="loginForm">
		<div layout='row' layout-fill layout-margin layout-align='start'>
			<md-input-container>
				<label>Username :</label>
				<input ng-model="authentCtrl.credentials.email" ng-require >
			</md-input-container>
			<md-input-container>
				<label>Mot de passe :</label>
				<input ng-model="authentCtrl.credentials.password" ng-require >
			</md-input-container>
		</div>	
		<div class="actions">
			<input type="button" value="Connexion" class="bouton" ng-click="authentCtrl.login()" ng-disabled="!loginForm.$valid"/>
		</div>
	</form>
</div>

